.home-container, .login-container, .create-account-container {
    max-width: 600px;
    margin: auto;
    padding: 2em;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 1em;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    margin: 1em 0;
  }
  
  .input-group {
    margin: 1em 0;
  }
  
  label {
    display: block;
  }
  
  input {
    width: 100%;
    padding: 0.5em;
  }
  
  button {
    padding: 0.7em 1.5em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  